/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
/* Common styles and Utilities */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 100%;
}